name: Test
on:
  push:
  pull_request:
    branches: [ "master" ]
  workflow_call:
jobs:
  test:
    permissions:
      actions: read
      contents: read
      packages: read
      pull-requests: write
      checks: write
      issues: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Get mill version
        run: |
          MILL_VERSION=$(cat .mill-version)
          echo "MILL_VERSION=$(cat .mill-version)" >> $GITHUB_ENV

      - name: Cache mill
        uses: actions/cache@v5
        with:
          key: mill-${{ env.MILL_VERSION }}
          path: "out/mill-launcher/${{ env.MILL_VERSION }}.jar"

      - name: Compile
        run: ./mill --no-server compile

      - name: Run tests
        run: ./mill --no-server test

      - name: Code coverage
        run: ./mill --no-server scoverage.xmlCoberturaReport

      - name: Code Coverage Report
        uses: 5monkeys/cobertura-action@master
        with:
          path: out/scoverage/xmlCoberturaReport.dest/cobertura.xml
          minimum_coverage: 60
          fail_below_threshold: 'true'
